/* @media screen and (max-width: 1400px) {
      .table-container{
            background-color: #fff;
            padding: 30px;
            margin-top: 10px;
            overflow-x: auto;
            width: 1400px;
      
      }
} */