.screenshot_area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 25px;
    padding: 14px 44px;
    max-height: 600px;
    overflow: auto;
}
.screenshot{
    width: 100%;
}
.screenshot_txt{
    color: gray;
    margin-top: 4px;
    font-size: 15px;
    white-space: nowrap;
}

.screenshot-container{
    background-color: #fff;
    padding: 30px;
    margin-top: 10px;

}
.lp_img{
    position: relative;
}
.screenshot_area::-webkit-scrollbar{
    display: none;
}
.lp_img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 2;
    height: 100%;
    transition: .5s ease;
}
.lp_img:hover::after{
    background-color: #00000062;
    cursor: pointer;
}
@media screen and (max-width: 1500px){
    .screenshot_area{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}